.enroll-col{
    font-size: medium;
}

.enroll-id{
    width: 50%;
}

.enroll-num{
    width: 30%;
}

.enroll-pad{
    padding-bottom: 5px;
    margin: 10px 0;

}

.cus-data{
    width: 50%;
}

.cus-name{
    font-size: larger;
}

.resent-user{
    width: 25%;
    margin-bottom: 15px;
}

.enroll-col{
    font-size: medium;
}

.enroll-id{
    width: 50%;
}

.enroll-num{
    width: 30%;
}

.enroll-pad{
    padding-bottom: 5px;
    margin: 10px 0;

}

.cus-data{
    width: 50%;
}

.cus-name{
    font-size: larger;
}

.resent-user{
    width: 25%;
    margin-bottom: 15px;
}

.detail-body{
    width: 100%;
}